In [1]:
import pandas as pd
import numpy as np

In [2]:
countries = pd.read_csv('../data/countries.csv')

In [3]:
countries.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP (USD per capita)', 'Literacy (%)', 'Phones (per 1000)',
       'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Birthrate',
       'Deathrate', 'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [4]:
distance = pd.DataFrame()
distance['Country'] = countries['Country']
distance['Literacy (%)'] = countries['Literacy (%)']
distance['GDP (USD per capita)'] = countries['GDP (USD per capita)']

distance['Country'] = distance['Country'].apply(lambda x : x.strip())

distance.drop(distance.loc[distance['Country'] == 'Luxembourg'].index, inplace=True)
distance.dropna(axis=0, inplace=True)

distance['Punctuation'] = (distance['Literacy (%)'])  * (distance['GDP (USD per capita)'] ** (1/3))

distance['Punctuation'] = (distance['Punctuation'] * 100) / distance['Punctuation'].max()

distance.sort_values(by=['Punctuation'], ascending = False, inplace= True)

distance.to_csv('../data/Countries_distance.csv', index=False)

distance

            Country  Literacy (%)  GDP (USD per capita)  Punctuation
154          Norway         100.0               37800.0   100.000000
214   United States          97.0               37800.0    97.000000
22          Bermuda          98.0               36000.0    96.419078
38   Cayman Islands          98.0               35000.0    95.517913
196     Switzerland          99.0               32700.0    94.330871
..              ...           ...                   ...          ...
0       Afghanistan          36.0                 700.0     9.524406
188         Somalia          37.8                 500.0     8.939595
31     Burkina Faso          26.6                1100.0     8.181795
183    Sierra Leone          31.4                 500.0     7.426013
151           Niger          17.6                 800.0     4.868316

[208 rows x 4 columns]